body {
    font-family: 'chalkduster', fantasy, 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    background-image: url("./banner.jpg");
    padding-top: 1em;
    color: white;
}

.modal-title {
    color: black;
}

